{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert" role="alert">
        <strong class="msg"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form>
        <input id="email" class="form-control" type="email" placeholder="Enter your email" required autofocus>
        <span class="">
            <button id="subscribe" class="btn u-btn-primary btn-block" type="submit">Subscribe</button>
        </span>
    </form>

{% endblock body %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         $(document).ready(function () {
             $('.alert').toggle();
             $('#subscribe').on('click', function (e) {
                 e.preventDefault();

                 $.ajax({
                     url: '{{ path('newsletter_subscribe') }}',
                     type: "POST",
                     dataType: "json",
                     cache: false,
                     data: {email: $('#email').val()},
                     success: function (response) {
                         $('.alert').toggle();
                         $('.alert').removeClass('alert-danger');
                         $('.alert').addClass('alert-success');
                         $('.alert .msg').html(response.message);
                         $('.alert').show();
                     },
                     error: function (xhr, textStatus, errorThrown) {
                         $('.alert').toggle();
                         $('.alert').removeClass('alert-success');
                         $('.alert').addClass('alert-danger');
                         $('.alert .msg').html(xhr.responseJSON.message);
                         $('.alert').show();
                     }
                 });
                 return false;
             });
         });
     </script>
 {% endblock javascripts %}